<p>
  <a class="btn btn-social btn-social-icon btn-github" title="Github" target="_blank" rel="noopener" href="{{social.github}}">
    <span class="fa fa-github"></span>
  </a>

  <a class="btn btn-social btn-social-icon btn-linkedin" title="LinkedIn" target="_blank" rel="noopener" href="{{social.linkedin}}">
    <span class="fa fa-linkedin"></span>
  </a>

  <a class="btn btn-social btn-social-icon btn-openid" title="Email" type="button" data-toggle="modal" data-target="#emailModal">
    <i class="fa fa-envelope"></i>
  </a>

  <a class="btn btn-primary btn-resume" target="_blank" href="{{social.resume}}">
    <i class="fa fa-download"></i>
    Resume
  </a>
</p>